* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(231, 237, 243);
}
a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 6px 6%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgb(231, 238, 245);
}
.icon img {
  margin-right: 15px;
  display: block;
}
.navcenter ul li {
  display: inline-block;
  list-style: none;
}
.navcenter ul li a {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 5px 8px;
  padding-right: 5px;
  position: relative;
}
.navcenter ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: rgb(171, 177, 183);
  position: absolute;
  bottom: -15px;
  transition: width 0.2s;
}
.navcenter ul li a:hover::after,
.navcenter ul li a.active-link::after {
  width: 100%;
}
.navright img {
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background: rgb(90, 213, 90);
  position: absolute;
}
.searchbox {
  background-color: rgb(211, 220, 229);
  width: 250px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.navleft {
  display: flex;
  align-items: center;
}
.searchbox img {
  width: 14px;
}
.searchbox input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: 0;
}
/* ---------------------------------------------navbar ends------------------------------------------------------ */

.container {
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.leftcontent {
  flex-basis: 25%;
  align-self: flex-start;
}
.rightcontent {
  flex-basis: 25%;
  align-self: flex-start;
}
.maincontent {
  flex-basis: 46%;
}
.profilebox {
  background-color: white;
}
.shortintro {
  padding: 0 25px;
}
.shortintro img {
  width: 90px;
  border-radius: 50%;
  background: white;
  padding: 4px;
  margin-top: -45px;
}
.shortintro h1 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.shortintro h3 {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.shortintro ul {
  list-style: none;
  margin: 20px 0;
}
.shortintro ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 14px;
}
.shortintro ul li span {
  float: right;
  color: blue;
}
