<footer>
  <ul class="foot">
    <li class="list">
      <span class="listy"><b>JobKnots</b></span>
      <i class="fa-regular fa-copyright"></i> 2022
    </li>
    <li class="list hov">About</li>
    <li class="list hov">Accessibility</li>
    <li class="list hov">User Agreement</li>
    <li class="list hov">Privacy Policy</li>
    <li class="list hov">Cookie Policy</li>
    <li class="list hov">Copyright Policy</li>
    <li class="list hov">Community Guidelines</li>
    <li class="list hov">Language</li>
  </ul>
</footer>
