@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 50px;
    background-color: white;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(205, 222, 236);
}

/* .container {
    position: relative;
} */

.bar {
    list-style-type: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.headline {
    margin: 0px 20px 0px 200px;
    font-size: 2rem;
    font-family: 'Fuzzy Bubbles', cursive;
    margin-bottom: -5px;
}

li {
    margin-right: 20px;
    font-family: 'Oxygen', sans-serif;
}

li:hover {
    cursor: pointer;
    color: gray;
}

#Prof {
    margin-right: 200px;
}

#Search {
    position: relative;
    height: 28px;
    width: 225px;
    border-radius: 8px;
    font-family: 'Oxygen', sans-serif;
    border: 1px solid black;
}

#Search:hover {
    width: 300px;
    transition: width 1s ease-in-out 0s;
    cursor: initial;
}

#Search:active {
    background-color: gray;
}

#ic {
    position: absolute;
    z-index: 1;
    color: black;
    margin: 8px 0px 0px 9px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    /* position: relative; */
}

.box1 {
    background-color: rgb(205, 222, 236);
    margin-right: 200px;
    border-radius: 8px;
}

.box {
    background-color: rgb(205, 222, 236);
    margin-left: 200px;
    width: 800px;
    border-radius: 8px;
    color: black;
}

.first {
    margin-top: 20px;
    /* position: absolute; */
}

#top {
    height: 490px;
}

.pic img {
    position: absolute;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pic {
    position: relative;
}

.profpic {
    position: absolute;
    /* background-color: black; */
    width: 240px;
    height: 150px;
    margin-left: 30px;
    margin-top: 125px;
}

.profpic img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#info {
    color: black;
    /* background-color: red; */
    margin-top: 290px;
    margin-left: 34px;
    font-family: 'Oxygen', sans-serif;
}

#head {
    margin-top: -7px;
    margin-bottom: 1px;
}

#intro {
    font-size: small;
}

#profile1 {
    /* background-color: black; */
    margin: 17px 30px -3px 31px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pix {
    margin: 0px 0px 0px 4px;
    height: 100%;
}

#pix img {
    /* width: 100%; */
    height: 100%;
    border-radius: 200px;
}

#text {
    font-family: 'Oxygen', sans-serif;
    /* background-color: white; */
    margin: 0px 0px 0px 10px;
    color: black;
    height: 22px;
}

.tabs {
    /* background-color: aliceblue; */
    margin: 16px 0px 0px 34px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab {
    margin-right: 12px;
    /* border: 2px solid red; */
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    background-color: aliceblue;
    /* border-bottom: 2px solid black; */
    /* border-bottom-width: 0%; */
}

.tab:hover {
    color: gray;
    cursor: pointer;
    /* border-bottom-width: 100%; */
}

.blu {
    background-color: rgb(138, 138, 222);
}

#line {
    margin-top: 8px;
    margin-bottom: -8px;
    color: black;
}

.che {
    background-color: rgb(205, 222, 236);
    margin: -2px 0px 12px 0px;
    margin-right: 12px;
    /* border: 2px solid red; */
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    /* background-color: black; */
}

.che:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.one {
    margin-left: -14px;
    text-decoration: line-through;
    color: black;
}

.block {
    height: 110px;
    width: 264px;
    background-color: rgb(205, 222, 236);
    margin: 30px 0px 0px 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    /* font-family: 'Oxygen', sans-serif; */
}

#mar {
    margin: 10px 0px -18px 16px;
    color: black;
}

.mge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: black;
}

#photo {
    height: 70px;
    width: 70px;
    background-color: rgb(205, 222, 236);
    /* margin: 0px 0px 0px 15px; */
}

#photo img {
    height: 100%;
    width: 100%;
}

#message {
    height: 70px;
    width: 185px;
    background-color: rgb(205, 222, 236);
    margin: 0px 0px 0px 10px;
}

.lin {
    margin: 0px 0px -30px 0px;
}

#hie {
    height: 427px;
}

.bag {
    height: 110px;
    width: 264px;
    background-color: rgb(205, 222, 236);
    margin: 30px 0px 0px 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pho {
    height: 70px;
    width: 70px;
    background-color: rgb(205, 222, 236);
    margin: -45px 16px 0px 10px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#mess {
    height: 70px;
    width: 185px;
    background-color: rgb(205, 222, 236);
    margin: -70px 0px 0px 10px;
    font-family: 'Oxygen', sans-serif;
}

#para {
    width: 396%;
    margin: 8px 0px 0px 0px;
}

.bad {
    height: 186px;
}

#hor {
    color: black;
}

.down {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.last {
    height: 427px;
    width: 312px;
    margin: -62px 0px 0px 0px;
}

.pac {
    margin: -178px 0px 0px 200px;
    font-family: 'Oxygen', sans-serif;
}

.hi {
    margin: 19px 35px 0px 35px;
    margin-bottom: 13px;
}

.pict {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 15px 0px;
}

.pak {
    width: 234px;
    height: 160px;
}

.init {
    margin: 0px 13px 0px 0px;
}

.pak img {
    height: 100%;
    width: 100%;
}

.plate {
    background-color: white;
}

.packe {
    display: flex;
    flex-direction: row;
    background-color: white;
    /* justify-content: center; */
}

.packy {
    background-color: rgb(205, 222, 236);
    border-radius: 8px;
}

.part1 {
    margin: 0px 8px 0px 0px;
    width: 245px;
    height: 220px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.name img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.name {
    margin: 10px 10px 4px 10px;
}

.part2 {
    width: 547px;
    height: 206px;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.pos {
    /* background-color: black; */
    margin: 0px 0px 5px 0px;
    height: 35px;
    width: 546px;
}

.pos1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ima img {
    height: 100%;
    width: 100%;
}

.ima {
    width: 85px;
    height: 58px;
    margin: 45px 8px 0px 15px;
}

.inf {
    width: 435px;
    height: 9px;
    margin: 0px 0px 0px 0px;
}

.pos2 {
    width: 515px;
    height: 65px;
    margin: 40px 0px 0px 16px;
}

.pos2 img {
    height: 100%;
    width: 100%;
}

.pos3 {
    width: 515px;
    height: 28px;
    margin: -17px 0px 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#thu {
    color: blue;
}

.pos4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 513px;
    height: 0px;
    margin: 20px 0px 0px 18px;
}

.acti {
    margin: 0px 70px 0px 0px;
}

.acty {
    margin-left: -7px;
}

.act {
    height: 20px;
    margin-top: 7px;
}

.adj {
    display: flex;
    flex-direction: column;
}

.imge {
    height: 646px;
    width: 516px;
}

.pat {
    height: 807px;
}

.posi3 {
    margin-top: 5px;
}
