@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  list-style-type: none;
  color: aliceblue;
  display: flex;
  align-items: center;
  height: 50px;
}

.container {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 692px;
}

.container::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: center / cover no-repeat url("../images/background.jpg");
}

.headline {
  margin: 0px 0px 0px 200px;
  font-size: 2rem;
  font-family: "Fuzzy Bubbles", cursive;
  margin-bottom: -5px;
}

.box {
  position: absolute;
  margin: 120px 0px 0px 240px;
}

.line {
  margin: 10px 0px;
  padding: 10px;
  width: 300px;
}

.head {
  margin: 30px;
  font-family: "Oxygen", sans-serif;
}

.head h1 {
  margin-top: -5px;
  margin-bottom: 5px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  width: 325px;
  border-radius: 50px;
  margin-top: -7px;
  color: black;
  font-size: larger;
  background-color: #ffebd1;
}

.btn:hover {
  cursor: pointer;
  background-color: gray;
}

.signin {
  display: flex;
  justify-content: center;
}

.block {
  margin: 0px 5px 0px 0px;
}

footer {
  background-color: black;
  height: 50px;
}

.foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  list-style-type: none;
  height: 50px;
}

.list {
  margin: 0px 0px 0px 35px;
  font-family: "Oxygen", sans-serif;
}

.linep {
  margin-top: -5px;
  margin-bottom: -10px;
}

.listy {
  font-family: "Fuzzy Bubbles", cursive;
}

.hov:hover {
  color: gray;
  cursor: pointer;
}

#direct:hover {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

.sec {
  color: black;
  margin-top: -5px;
  margin-left: -9px;
  margin-bottom: 15px;
}

.sec:hover {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

#visit {
  text-decoration: none;
  color: black;
}

#visit:hover {
  color: gray;
}

.icon {
  color: aliceblue;
}
